apiVersion: "acid.zalan.do/v1"
kind: postgresql
metadata:
  name: postgres-cluster
  namespace: postgres
spec:
  teamId: "acid"
  volume:
    size: 1Gi
  numberOfInstances: 2
  users:
    celonis:  # database owner
    - superuser
    - createdb
    foo_user: []  # role for application foo
  databases:
    temporal: celonis  # dbname: owner
  preparedDatabases:
    bar: {}
  postgresql:
    version: "12"
